@using DataAccess
@model IEnumerable<CardAccount>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p style="font-size: xx-large"> <b>Welcome to eWallet</b></p>
</div>

@if (ViewData.ModelState.IsValid)
{
    var startCount = 1;

    <h2 class="text-center"> Cards and bills:</h2>

    @foreach (var Modell in Model)
    {
        var count = startCount++;

        <h3>Card №@count </h3>

        <div style="border: groove; border-color: antiquewhite; background-color: antiquewhite;">
            <p style="font-size: xx-large;"> Card name: @Modell.CardName</p>
            <p style="font-size: xx-large"> Card number: @Modell.CardNumber</p>
            <p style="font-size: xx-large"> Balance: @Modell.CardBalance KGS </p>
        </div>
    }
}
