@using DataAccess
@model IEnumerable<CardAccount>

@{
    ViewData["Title"] = "Transfer money";
}

<p class="text-center" style="color:white; background-color:darkred">Transfer money</p>

<form asp-action="transfer" asp-controller="transfers" asp-anti-forgery="true">
    <div>
        @foreach (var item in Model)
        {
            <p class="p">Card number: @item.CardNumber (balance: @item.CardBalance)</p>
        }

        <p style="background-color:darkgrey; color:white">Where to withdraw money</p>

        <select name="selectCardNumber">
            <option>Choose your card</option>
           
            @foreach (var item in Model)
            {
                <option>@item.CardNumber</option>
            }
        </select>

        <p style="background-color:darkgray; color:white">Where to transfer</p>

        <div>
            <input name="transferCardNumber" placeholder="Transfer card number" />
        </div>

        <div>
            <input name="transferBalance" placeholder="Transfer balance" /> <d1>KGS</d1>
        </div>

        <div>
            <button style="background-color:darkred; color:white">Transfer</button>
        </div>

        <div class="text-center" ; style="color: red">
            @Html.ValidationMessage("ErrorMessage_Id")
        </div>
    </div>
</form>

<style>
    p {
        font-size: 21px;    
    }
</style>

